.Rproj.user
.Rhistory
.RData
.Ruserdata
CovidClinicalDataDashboard.Rproj
.DS_Store
rsconnect
sensitive_data/*
!sensitive_data/README.md
*pdf

comorbidity_prevalence_input.rda
comorbidity_upset_input.rda
icu_treatment_upset_input.rda
icu_treatment_use_proportion_input.rda
symptom_prevalence_input.rda
symptom_upset_input.rda
treatment_upset_input.rda
treatment_use_proportion_input.rda
ExampleDataPreprocessing.R
admission_to_icu_input.rda
comorbidity.prevalence.input.rda
comorbidity.upset.input.rda
icu.treatment.upset.input.rda
length_of_stay_age_input.rda
icu.treatment.use.proportion.input.rda
length_of_stay_sex_input.rda
status_by_time_after_admission_input.rda
treatment.upset.input.rda
treatment.use.proportion.input.rda
data_plot_lab_alt.rda
data_plot_lab_aptt.rda
data_plot_lab_ast.rda
data_plot_lab_bili.rda
data_plot_lab_crp.rda
data_plot_lab_lym.rda
data_plot_lab_neut.rda
data_plot_lab_pt.rda
data_plot_lab_wbc.rda
data_plot_vs_hr.rda
data_plot_lab_urean.rda
data_plot_vs_oxysat.rda
data_plot_vs_resp.rda
data_plot_vs_sysbp.rda
data_plot_vs_temp.rda
length_of_stay_icu_input.rda
patient_by_country_input.rda
flowchart_input.rda
data_plot_symptoms_cought_fever_shortness_of_breath.rda
data_plot_comorbid_asthma.rda
data_plot_comorbid_dementia.rda
data_plot_comorbid_diabetes.rda
site_locations.csv
data_plot_heatmap.rda
data_plot_comorbid_hypertension.rda
data_plot_comorbid_malignant_neoplasm.rda
data_plot_comorbid_obesity.rda
data_plot_comorbid_smoking.rda
data_plot_symptoms_vomiting_nausea.rda
data_plot_symptoms_abdominal_pain.rda
data_plot_symptoms_altered_consciousness_confusion.rda
data_plot_symptoms_constitutional.rda
data_plot_symptoms_cough.rda
data_plot_symptoms_cough_fever.rda
data_plot_symptoms_diarrhoea.rda
data_plot_symptoms_history_of_fever.rda
data_plot_symptoms_shortness_of_breath.rda
data_plot_symptoms_upper_respiratory_tract_symptoms.rda
Static_report.pdf
age_pyramid_input.rda
patient.site.time.map.input.rda
comorbidity.table.rda
key.times.rda
outcome.age.sex.table.rda
patient.characteristic.table.rda
summary_input.rda
symptom.prevalence.input.rda
symptoms.table.rda
treatment.table.rda
outcome_admission_date_input.rda
symptom.upset.input.rda
Static_report.log
Static_report_files
Static_report.aux
Static_report.tex
Static_report.knit.md
Static_report.utf8.md
summary_input_overall.rda
markdown/Summary_dashboard.md
Figs/*